body {
    font-family: 'Okaso';
    margin: 0;
    padding: 0;
    background-color: rgb(241, 240, 224);
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #444;
}

h2 span {
    font-weight: normal;
}

p, ul, ol {
    margin-top: 0;
    font-size: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1em;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}
