<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="index.css">
        <title>CV 24</title>
    </head>
    <body>
        <div class="info">
            <h1>CV 24</h1>
            <h2>Version: 1.0</h2>
            <h2>OLIVIER Thomas</h2>
            <img src="/images/logo-univ.png" alt="Logo del'université de Rouen" />
        </div>

        <footer>
            <p>© 2024 OLIVIER Thomas</p>
        </footer>
    </body>
</html>